streamlit
langchain
langchain-community
langchain-huggingface
langchain-groq
fastapi
uvicorn
pydantic
python-jose[cryptography]
pytest
httpx
faiss-cpu
python-dotenv
pypdf
sentence-transformers
tiktoken
python-docx
python-pptx
groq
fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]