langchain
langchain-community
langchain-groq
fastapi
uvicorn
pydantic
python-jose[cryptography]
pytest
httpx
faiss-cpu
python-dotenv
pypdf
fastembed
tiktoken
python-docx
python-pptx
groq
python-multipart
passlib[bcrypt]